.App {
  text-align: center;
  font-family: "Noto Sans KR";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Applogo{
  position:relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 171px;
}

.alignRight{
  text-align: right;
  margin-right: 10px;
}

.alignCenter{
  text-align: center;
}

.profile {
  border-radius: 40%;
  width: 50px;
}


.logoText{
  position: relative;
  margin-top: 50px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  
  color: #000000;
}

.urlText{
  position: relative;
  margin-top: 120px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  
  margin: 10px 10px;
  color: #000000;
}

.descriptionLine{
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*프로젝트 이름, 현재 참여 인원, 매칭 일정 아이콘*/
.descriptionIcon{
  float: left;
  clear: left;
  width: 25px;
  margin-right: 10px;
}

/*프로젝트 이름, 현재 참여 인원, 매칭 일정*/
.descriptionTitle{
  position: relative;
  font-weight: 550;
  font-size: 15px;
  text-align: left;
  color: #000000;
}

.descriptionContent{
  font-weight: 300;
  font-size: 15px;
  margin-right: 10px;
  position: relative;
  text-align: right;

}

.inputGuide{
  color: #000;
  margin-bottom: 4px;
	text-decoration:none;
}
.inputNickname{
  border-bottom: 10;
  padding: 3px;

  border-bottom-color: black;
  border-width: 1px;
}

.indexBtn{
  background-color:#f0f0f0;
  border-radius:13px;
  border: 0;
	cursor:pointer;
  color:#000000;
  margin: 5vmax;
  padding: 3px 10px;
  margin: 5px 5px;
  margin-block: 10px;
  font-size:15px;
	text-decoration:none;
}


.grayBackground{
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(228, 228, 228, 0.47);

  margin: auto;
}

.mGrayBackground{
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(228, 228, 228, 0.47);
  margin: 100px auto;

}

.btn {
	background-color:#FF705D;
  border-radius:15px;
  border: 0;
  color:#ffffff;
  font-size:15px;
  padding: 10px 33px;
	text-decoration:none;

  position: absolute;
  width: 80%;
  left: 10%;
  text-align: center;
  bottom: 10%;
}

.btn:hover {
	background-color:#ff4d35;
}
.btn:active {
	background-color:#ff4d35;

}
.btn:focus {
  border: none;
  outline: none;
}

.loginGuide{
  text-align: center;
  margin: 30px 10px;
  width: 80%;
  bottom: 50%;

  font-size: 18px;
  padding: 7px 7px;

}

.logoutBtn{
  background-color: #FFFFFF;
  border-radius:10px;
  border: 0;
  color:#4b4b4b;
  font-size:15px;
  padding: 3px 0;
  
  width: 30%;
  margin-top: 10px;
}

.googleBtn{
  text-align: center;
  size: 15px;
  margin-top: 100px;
}

.grid{
  display: grid;
}

.projectBox{
  display: grid;
  margin: 10px 10px;
  width: 35%;
  padding: 14px 10px;
  border-radius: 13px;
  border: 0;
  font-size:15px;
}

.mProjectBox{
  width: 80%;
  padding: 14px 30px;
  margin-top: 20px;
  border-radius: 13px;
  border: 0;
  font-size:15px;
  
}

/*닉네임을 입력해주세요*/
.nicknameGuide{
  text-align: left;
  margin-left: 23px;
  line-height: 26px;

  width: 80%;
  bottom: 50%;
}
.mNicknameGuide{
  text-align: left;
  margin-left: 23px;
  margin-top: 100px;
  line-height: 26px;

  width: 80%;
  bottom: 50%;
}

.voteFinishGuide{
  text-align: left;
  margin-top: 50%;
  margin-left: 23px;
  line-height: 26px;

  position: absolute;
  width: 80%;
  bottom: 40%;
}

/*가능한 날짜를 선택해 주세요.*/
.calendarGuide{

  text-align: left;
  margin-left: 5%;
}


/*input 박스*/
.inputField{
  margin-top: 40%;
  border: 0;
  outline: 0;
  font-size: large;
  background: transparent;
  width: 90%;
  border-bottom: 4px solid #FF705D;

  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 50%;
}

.temp{
  text-align: center;
  margin-top: 100px;
}

.rectangle{
  position: absolute;
  width: 327px;
  height: 3px;
  left: 24px;
  top: 389px;

  margin: 0px;
  background: #FF705D;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
